body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f2f2f2;
}

.caixa-texto {
    width: 0;
    overflow: hidden;
    background-color: #fff;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    opacity: 0;
    animation: expandirCaixa 1s forwards;
}

#titulo, #texto {
    opacity: 0;
    animation: aparecerTexto 1s forwards;
}

#titulo {
    text-align: center;
    margin: 0;
    font-size: 24px;
    color: #4CAF50;
    animation-delay: 2s;
}

#texto {
    text-align: justify;
    margin-top: 10px;
    font-size: 16px;
    color: #333;
    animation-delay: 2.2s;
}

@keyframes expandirCaixa {
    0% {
        height: 0px;
        width: 0px;
        opacity: 0;
    }
    100% {
        height: 150px;
        width: 600px;
        opacity: 1;
    }
}

@keyframes aparecerTexto {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
